
<div styles="display: none;" *ngIf="isNewPost; then newPost; else editPost"></div>
<ng-template #newPost>
  <form #newF="ngForm">

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="postTitle" >Title</label>
          <input type="text" class="form-control" id="postTitle" placeholder="title..." name="title" [(ngModel)]="post.title" >
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="postAuthor">Author</label>
          <input type="text" class="form-control" id="postAuthor" placeholder="author..." name="author" [(ngModel)]="post.author">
        </div>
      </div>
    </div> <!--row-->

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="postImageUrl">Post Image</label>
          <div class="input-group prefix">
            <span class="input-group-addon prefix">URI</span>
            <input class="form-control hidden" id="postImageUrl" type="text" name="imageUrl" [(ngModel)]="post.imageUrl"/>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="postCategory">Category</label>
          <select class="form-control" id="postCategory" name="category" [(ngModel)]="post.category">
            <option>Soccer</option>
            <option>Basketball</option>
            <option>Hockey</option>
            <option>Baseball</option>
            <option>Rugby</option>
          </select>
        </div>
      </div> 
    </div> <!--row-->

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="postDescription">Description</label>
          <textarea class="form-control" id="postTitle" placeholder="description..." name="description" [(ngModel)]="post.description" rows= "2"></textarea>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12">
        <div class="form-group" styles="border: none;">
          <label for="quillEditor">Post</label>
          <quill-editor id="quillNewEditor" #newPostEditor name="newPostQuillEditor" (onEditorCreated)="populateEditor(newPostEditor)" class="form-control" [style]="{'height': '90%'}"></quill-editor>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <div class="form-group" styles="border: none;">
            <button class="btn btn-lg btn-success" (click)="create(newF, newPostEditor)">Create</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #editPost>
    <form #f="ngForm">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="postTitle">Title</label>
              <input type="text" name="title" class="form-control" id="postTitle" [(ngModel)]="post.title" />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="postAuthor">Author</label>
              <input type="text" name="author" class="form-control" id="postAUthor" [(ngModel)]="post.author">
            </div>
          </div>
        </div> <!--row-->
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="postImageUrl">Post Image</label>
              <div class="input-group prefix">
                <span class="input-group-addon prefix">URI</span>
                <input class="form-control hidden" id="postImageUrl" type="text" name="imageUrl" [value]="post.imageUrl" [(ngModel)]="post.imageUrl"/>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="postCategory">Category</label>
              <select class="form-control" name="category" id="postCategory" [(ngModel)]="post.category">
                <option>Soccer</option>
                <option>Basketball</option>
                <option>Hockey</option>
                <option>Baseball</option>
                <option>Rugby</option>
              </select>
            </div>
          </div>
        </div> <!--row-->
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="postDescription">Description</label>
              <textarea class="form-control" name="description" id="postDescription" [(ngModel)]="post.description" rows= "2"></textarea>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="quillEditor">Post</label>
              <quill-editor #editor id="quillEditor" name="quillEditor" (onEditorCreated)="populateEditor(editor)" class="form-control" [style]="{'height': '90%'}"></quill-editor>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="btn-group btn-group-lg" role="group" aria-label="post actions">
              <button class="btn btn-lg btn-success" (click)="save(f, editor)" type="submit">Save</button>
              <button class="btn btn-lg btn-danger" (click)="delete(f, editor)" >Delete</button>
            </div>
          </div>
        </div>
        
        
      </form>
</ng-template>
