.posts {
    margin: 10px;
    width: 60em;
}

.card {
    max-width: 98vw !important;
}

.card-img-top {
    overflow: hidden;
}

.card-footer {
    font-size: .8em;
}

.list-group-item {
    cursor: pointer;
}